  
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
 
 body{
 	font-family: 'Noto Sans',sans-serif;
 	-webkit-font-smoothing:antialiased;
 	text-rendering: optimizeLegibility;
 }
/* @media (max-width: 768px){
 	.carousel-indicators{
 		visibility: hidden;
 	}
 }

*/
.alpha{
	margin-left:0px;
}
.omega{
	margin:right:0px;
}
 

#videoModal .close{
	opacity:1;
	color:white;

}

.navbar-brand {
	padding:13px 15px;
	 
}
.navbar-brand strong{
	color:white;
}
 
.thumbnails:first-child{
	padding-left: 0;
	margin-left: 0px;
	margin-right: 0px;
}
.thumbnails img{
	padding:5px;
	 
}
.thumbnail{
	position:relative;
}
.thumbnail h3{
	font-size: 16px;
	margin:5px 0 10;
	line-height: 20px;
}

.thumbnail .play{
	font-size: 20px;
	position: absolute;
	top:-10px;
	right:-10px;
	padding:10px;
	opacity: 1;
	color:white;
}
.thumbnail .medal {	
	font-size: 22px;
	position: absolute;
	top:-10px;
	right:-10px;
	padding:10px;
}

#myCarousel img{
	width:100%;
}


.row{
	margin-left:0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-top:10px;
}
.navbar{
	margin-bottom:5px;
}


#newReleases{
	background-color: black;
}

#moreSection {
	float: right;


}
 
 #spotlightSection iframe{
 		width:100%;
 		height:auto;
 		min-height: 200px !important;

 	}

 @media  (min-width: :731px) {
 	#feature {
		 width:50%;
 	}


 	

 	#moreSection{
 		margin:0px;
 		padding:5px;
 	}
 }
 
 
.list-group-item:first-child{
	border-top:none;
}
#spotlightSection .modal{
	background-color: black;
	
	 
}
#spotlightSection .modal-content{
	 background-color: black;
	 color:white;
	 height:100%;

	
}
#spotlightSection .modal-content iframe{

	display: block;
	height:100%;
}
@media (min-width:480px)  {
 	.feature img, #trendingActors img{
		width: 350px;
		height: 400px;
		 
		margin:auto;
		display: block;	
 	}


  	
 	 
	#spotlightSection img{
		width:100%;
	}
 
 	#spotlightSection iframe{
 		width:100%;
 		height:70%;
 	}
 	#spotlightSection .modal{
 		vertical-align: center;
 	}
 	#spotlightSection .modal-content{
 		margin-left:-15%;
 		height:500px;
 		width:800px;
 	}
 	#spotlightSection .modal-body{
 		
 		height:400px;
 	}

 }


#marathon{
	background-color: #fafafa;
}
#marathon h3,#marathon h5, #marathon p{
	text-align: center;

}

.newsTitle{
	color:orange;

}
.newsTitle h1,h2,h3,h4,h5,p{
	text-align: left;	
}

.list-group-item-heading{
	margin-left:auto;
}
.list-group-item a{
	text-decoration: none;
	color:#747474;

}
.list-group-item a:hover{
	text-decoration: underline;
}
.list-group-item-text{
	text-align: justify;

}


.tabbable img.thumbnail{
	margin:auto
}
#myModal strong{
	color:white;
	font-weight: lighter;
}
.list-group-item{
	padding: 10px;
	
}
.list-group-item img{
	width:100px;
	height:140px;
	margin-left: auto;
	margin-right:10px;
	 
	margin-bottom: 10px;
	border:none;
}
.list-group-item p{
	margin-top: 0px;
	margin-bottom: 10px;

}
 
 
#trendingActors .caption a{
	text-decoration: none;
	color:black;
}
#trendingActors .caption a:hover{
	color:orange;
}
#trendingActors .thumbnail a:{
	text-decoration: none;
	 
}

#trendingActors h3{
	margin-left: 10px;
}


#spotlightSection a{
	text-decoration: none;
	color:#747474;

}
#spotlightSection a:hover{
	text-decoration: none;
	color:orange;

}
.play a{
	color:white !important;
	text-decoration: none;
}

.thumbnails h3,.thumbnails h4,.thumbnails h5, .thumbnails p{
	text-align: center;
}

footer{
	background-color: #333;
	color:white:;
	color:#eee;
	font-size: 11px;
	padding:20px;
}
@media (max-width: 480px){
	.thumbnail .medal{
		font-size:14px;
	}
}

@media handheld {
	.thumbnail .play{
		font-size: 14px;
		color:white;
	}
}
footer ul{
	list-style: none;
	padding:0px;
}

@media (orientation:landscape) and (max-width: 768px) and (min-width: 480px)
{
	 #spotlightSection .modal-content{
 		width:100%;
 		height:auto;
 		display: block;
 		margin:0;
 		

 	}
 	.btn-block{
 		margin:auto;
 		width:50%;
 		margin-bottom:2%;
 	}
}

@media (width:768px){

	 #spotlightSection .modal-content{
 		width:98%;
 		height:auto;
 		display: block;
 		margin:0;
 		

 	}
}