body{
	font-family: 'Noto Sans',sans-serif;
}
.container{
	background: #fafafa;
	border-bottom:  1px solid #bfbfbf;
  
}
 
.wrap{

	border: 1px solid #e0e0e0;
}
.subtitlebar{
	background-color: #e1e1e1;

}
.subtitlebar em{
	
	font-size: 14px;
	padding-left: 50px;
}

 
.searchSection{
	 
	 display: inline;
 	 vertical-align: middle;

}

.mainContent{
margin:0px;
}
.searchSection img{
	width:20px;
	height:20px;

}
.subtitlebar p{
	margin: 20px;
}
.up_1{
	padding-top: 1%;
}
.down_1{
	padding-bottom:1%;
}
.up_2{
	padding-top: 2%;
}
.down_2{
	padding-bottom: 2%;
}
.up_3{
	padding-top: 3%;
}
.down_3{
	padding-bottom:3;
}

.up_10{
	padding-top: 10px;
}
.down_10{
	padding-bottom: 10px;
}
.up_40{
	padding-top: 40px;
}
.down_40{
	padding-bottom: 40px;
}
.up_100{
	padding-top: 100px;
}
.down_100{
	padding-bottom: 100px;
}
.right_10{
	padding-right:10px;
}
.left_10{
	padding-left: 10px;
}
.right_20{
	padding-right:20px;
}
.left_20{
	padding-left: 20px;
}
.right_30{
	padding-right:30px;
}
.left_30{
	padding-left: 30px;
}
.right_40{
	padding-right:40px;
}
.left_40{
	padding-left: 40px;
}

h1,h2,h3,h4,h5,h6{
	margin:0%;
}
.main{
	
 
	height: auto;
	width:100%;
}
.main img{
	
	width:350px;
	height:250px;


}
.grid_4{
	margin:0
	margin-top: 10px;
	display: table-cell;	
}


.section1, .section2, .section3{
	text-align: left;
	
	
}


.powInsights{
	background-color: #fafafa;
	
}
.advancedStats{
	background-color: white;
	
}

.radarContent{
	
	 
	display: block;
	padding-bottom: 50px;
	

}
.radarContent p{

	text-align: justify;
}
 
.radarDiv{
	 
	float:left;
	 
}
 

.statsContent{
	 
	padding:20px;
	 
}
.statsContent h4{
	 
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}
.statsContent p{
	 
	text-align: center;
}
 
.subContentRadar{
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 0.5px;
	 
}
  
 .herounit{
 	width: 100%;
 	
 	 border-top:1px solid #e1e1e1;
 }

 .heroheader h2{
 	 
 	 text-align: center;
 	font-weight: bolder;
 	 text-transform: uppercase;

 }
 .heroheader{
 	border:none;
 }
 .heroheader p{
 	
 	text-align: center;
 	font-size: 16px;
 	font:normal;
 	
 }
  
 .stepContent p{
 	text-align: center;
 	font-size: 16px;
 	font:normal;
 	text-align: justify;
 	
 }

 .heroimage img{
 	display: block;
 	
 	width: 740px;
 	height:481px;
 	/*box-shadow: 3px 3px 3px #888888;*/
 	box-shadow: 2px -2px 2px rgba(34,34,34,0.6);

 	 
 }
  
 
 
 .heroSection h2{
	font-family:sans-serif;
 	font-size: 36px;
 	color: orange;
 	font-weight: lighter;
 	 
 }
 .steps{
 	float:left;

 }

 .stepContent{
 
 	float:center;

 }
 
 .container_12{
 	width:100%;
 	
 }
 .navbar{
 	
 	float: left;
 	height: auto;
 	 
 	 
 }
.heroContent{
	 
	width:100%;
	 



}
 
.heroSection h1{
	 
}
.heroSection p{
	text-align: left;
	display: block;

}

 section h4{
 
  	letter-spacing: 0.5px;
 	font-size: 16px;
 	font-weight: bold;	
 	text-align: left;
 	text-transform: uppercase;
 	

 }
 

.container_24{
	width:100%;
}
.titleDiv h1{
	
	color: #234;
	 
 
}
header{
	margin:0;
}

.radarContent a{
	text-decoration: none;
	color: #010101;
}
nav li{
	display: inline-block;
	 

	font-size: 14px;
	font-weight: bold;


	 
}

nav li a{
	text-decoration: none;
	text-align: center;
	 color: #888;
	line-height: 100%;
}
nav li a:hover{
	text-decoration: underline;
	color: black;
}
 a{
 	text-decoration: none;
 	color: #010101;
 }
 .radarDiv img{
 	width:300px;
 	height: 200px;
 	box-shadow: 2px -2px 2px rgba(34,34,34,0.6);
 	margin-left:10px;
 }
 .statsChart img{
 	width:300px;
 	height:200px;
 	 
	box-shadow: 2px -2px 2px rgba(34,34,34,0.6);
	margin-bottom: 30px;

 }
 footer{
 	 
 	background-color: #333;
 	color: #CCC;	

 }

.footSection{
	padding:15px;
}
.submitButton{


	width:90px;
	height:40px;
	 
	background-color: #449d44;
	border-color: #398439;
	color: white;
	font-weight: bold;
}

.subscribeEmail{

	 
	width:400px;
	height:40px;
}
 
 
.footSection img{
	width:50px;
	height:50px;
	padding:20px;
}


/*Stories CSS*/

.stories img{

	width:300px;
	height:200px;

	

	box-shadow: 2px -2px 2px rgba(34,34,34,0.6);

}
.stories section{
	 
	padding:20px;

}
 